html
{
	height:100%;
	width:100%;
}
body
{
	height:100%;
	width:100%;
	background-image:url(../images/rainbow.jpg);
	background-position: top center;
	background-size: 200%;
	background-repeat: no-repeat;
	overflow: hidden;
}

/***********WRAPPER******************/
.wrapper{
	height: 40%;
	width: 100%;
}

.wrapper:hover .info-box{
    background-image: url(../patterns/skelatal_weave.png);
    
}

/***********ADD FONT FACES******************/
@font-face{
	font-family: "Aller";
	src: url(../fonts/Aller_Rg.ttf); 
	}
@font-face{
	font-family: "CarroisGothic";
	src: url(../fonts/CarroisGothic-Regular.ttf);

}

/***********PAGE HEADER******************/
.page-header h1{
	font-family: Aller, CarroisGothic, CarroisGothic-Regular
	font-color: rgba(22, 77, 187, 0.84);
	font-size: 2em;
}

h1{
	font-size: 2.5em;
	font-family: CarroisGothic, CarroisGothic-Regular;
	font-color: #ff0000;
}

/***********ANCHOR TAGS******************/
a{
	font-size:1em;
	font-color: black;
	font-family: CarroisGothic, CarroisGothic-Regular;
}
a:hover{
	color: red;
	font-size: 1.5em;
}

/***********ICONS******************/
i{
	color: hsla(355, 100%, 38%, 0.69);
	position: center;
}
i:hover{
	color: hsla(241, 100%, 38%, 0.69);
	position: center;
	-webkit-transform: scale(1.25) rotate(2turn);
	transition: 1s ease;
}

/***********BOTTOM CONTAINER WITH QUOTE******************/
.container_bottom{
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
  margin:0;
}
.page-footer{
  padding-bottom: 9px;
  margin-top: 50vh;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  font-size: 3em;
  font-color: black;
  text-align: center;
}

/***********MEDIA QUERIES******************/
@media (min-width: 768px) {
  .container_bottom {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container_bottom {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container_bottom {
    width: 1170px;
  }
}

/***********JUMBOTRON LAYOUT******************/
.jumbotron{
	text-align: center;
}

.container{
	max-width:1000px;
}
.box-lg{
	text-align: center;
	position: top center;
	padding-top: 20%;
	padding-bottom: 10%;
	margin: 10% 10%;
	height: 70%;
	width: 80%;
	border: solid;
	border-radius: 6px;
	border-color: rgba(22, 77, 187, 0.84);
}


/****

.info-box{
	width: 25%;
	height: 10%
	margin: 0 auto;
	padding: 30px;
	background-image: url(../patterns/black_twill.png);
	background-repeat: repeat;
	background-position: 80% 50%;
	position: absolute;
	z-index:20;
	border: 4px solid #FFF;
	transition-duration: 1s;
	transition-timing-function: ease;
}

.box_1{
	width: 20%;
	height: 5%
	margin: 0 auto;
	padding-left: 20px;
	background-image: url(../patterns/black_twill.png);
	background-repeat: repeat;
	background-position: 80% 50%;
	position: absolute;
	z-index:20;
	border: 4px solid #FFF;
	border-radius: 4px;

	-moz-box-sizing: border-box;
	display: inline;
}
.box_2{
	width: 20%;
	height: 5%
	margin: 0 auto;
	padding: 30px;
	background-image: url(../patterns/black_twill.png);
	background-repeat: repeat;
	background-position: 80% 50%;
	position: absolute;
	z-index:20;
	border: 4px solid #FFF;
	border-radius: 4px;

	-moz-box-sizing: border-box;
	display: inline;
}
.box_3{
	width: 20%;
	height: 5%
	margin: 0 auto;
	padding: 30px;
	background-image: url(../patterns/black_twill.png);
	background-repeat: repeat;
	background-position: 80% 50%;
	position: absolute;
	z-index:20;
	border: 4px solid #FFF;
	border-radius: 4px;

	-moz-box-sizing: border-box;
	display: inline;
}
.box_4{
	width: 20%;
	height: 5%
	margin: 0 auto;
	padding-right: 20px;
	background-image: url(../patterns/black_twill.png);
	background-repeat: repeat;
	background-position: 80% 50%;
	position: absolute;
	z-index:20;
	border: 4px solid #FFF;
	border-radius: 4px;

	-moz-box-sizing: border-box;
	display: inline;
}